[Bb]uild*/
*.swp
CMakeCache.txt
CMakeLists.txt.user
CMakeFiles/
Debug/
Release/
*.vcxproj
*.vcxproj.filters
*.dir/
*.sln
install/
install_manifest.txt
generated/*
!generated/*.in
bgfx-install/
.vscode/